th {
  font-family: Georgia;
  font-size: 20px;
  text-align: left;
}
table {
  background-color: azure;
  opacity: 0.8;
  border: 1px solid black;
  border-spacing: 5px;
}

th, td {
  padding: 15px;
  border: 1px solid black;
}
td{
  font-family: sans-serif;
  font-weight: bold;
}
h1{
  color: black;
  font-size: 50px;
}
